@font-face {
    font-family: "Shabnam";
    src: url("/fonts/Shabnam.woff2") format("woff2"),
        url("/fonts/Shabnam.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

img {
    max-width: 100%;
}



body {
    font-family: "Shabnam";
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.logo h1 {
    font-size: 18px;
    margin: 0;
}

.logo a {
    text-decoration: none;
    color: black;
}

section {
    width: 650px;
    margin: 0 auto;
    padding: 0 15px; 
}


header .menu {
    display: flex;
    gap: 15px;
    width: 50%;
    justify-content: start;
    flex-direction: row-reverse;
}

.menu a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px rgb(219, 219, 219) solid;
}

.flex-section {
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-between;
}

.flex-section .right {
    width: 50%;
}


footer {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    gap: 15px;
    border-top: 1px rgb(219, 219, 219) solid;
    margin-top: 50px;
    color: rgb(163, 163, 163);
    font-size: 12px;
    padding: 15px 0;
}

footer a {  
    text-decoration: none;
}

.title {
    font-size: 22px;
    margin: 0;
}

.list-section {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-section li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
}

.list-section li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

/* date on the left */
.list-section .date {
    padding-top: 3px ;
    white-space: nowrap;
    font-size: 13px;
}





@media (max-width: 900px) {

    section {
        width: 90%;
    }

    .right .me {
        display: none;
    }

    header {
        padding: 15px 0;
    }
    .flex-section {
        flex-direction: column;
        gap: 20px;
    }


}

@media (max-width: 600px) {

    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    header .menu {
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }

    .title {
        font-size: 20px;
    }




}
