{% extends "base.html" %}

{% block content %}
<div class="flex-section">
    <div class="left">
        سجاد هستم، یه برنامه نویس که روزامو با لپ‌تاپم، کتاب، موسیقی، دوچرخه سواری و Milo میگذرونم.
        <br>
        اخیرا شروع به یادگیری مفاهیم سیستم عامل و طراحی سیستم کردم و دوست دارم بیشتر این حوزه رو یاد بگیرم. 
        ساخت هرچیز باحالی که هدف اولش میلیاردر شدن نباشه برام جذابه. <br>
        <br>
        <a href="mailto:zareisajad@protonmail.com">zareisajad@protonmail.com</a>
        <br>
    </div>
    <div class="right"><img src="/images/me.webp" alt="author avatar"></div>
</div>
<h5>آخرین پست ها:</h5>
<ul> 
    {% set blog_section = get_section(path="blog/_index.md") %}
  {% for page in blog_section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
<br>
<h5>آخرین یادداشت ها:</h5>
<ul> 
    {% set notes_section = get_section(path="notes/_index.md") %}
  {% for page in notes_section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}
