{% extends "base.html" %}

{% block content %}
<div class="flex-section">
    <div class="left">
        سجاد هستم، یه برنامه نویس که روزامو با لپ‌تاپم، کتاب، موسیقی، دوچرخه سواری و Milo میگذرونم.
        حدودا ۵-۶ سال پیش برنامه نویسی رو شروع کردم و توی حوزه وب فول استکم.
        <br>
        هرچند که اخیرا شروع به یادگیری مفاهیم سیستم عامل و طراحی سیستم کردم و دوست دارم بیشتر این حوزه رو یاد بگیرم. 
        ساخت هرچیز باحالی که هدف اصلیش میلیاردر شدن نباشه برام جذابه. <br>
        <br>
        بهترین راه برای ارتباط  <a href="mailto:zareisajad@protonmail.com">ایمیل</a> یا از یکی از این لینک ها استفاده کنید.
        <br> <br>
        <a href="https://github.com/zareisajad">github</a>
        <a href="t.me/zreisajad">telegram</a>
        <a href="https://instagram.com/sjdzback">instagram</a>
        <a href="https://x.com/zareisajad98">twitter</a>
    </div>
    <div class="right"><img src="/images/me.webp" alt="author avatar"></div>
</div>
<h5>آخرین پست ها:</h5>
<ul> 
    {% set blog_section = get_section(path="blog/_index.md") %}
  {% for page in blog_section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
<br>
<h5>آخرین یادداشت ها:</h5>
<ul> 
    {% set notes_section = get_section(path="notes/_index.md") %}
  {% for page in notes_section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}
