
{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock title %}

{% block content %}

<h6 class="my-4">کتاب‌ها:</h6>
<div class="d-flex flex-column gap-2">
  {% for page in section.pages %}
    {% if page.extra.type == "book" %}

     <div class="d-flex justify-content-between  align-items-center flex-wrap gap-1">
        <a class="text-decoration-none" href="{{ page.permalink | safe }}">
          {{ page.title }}
        </a>

        <div class="d-flex flex-row-reverse align-items-end gap-2">

          {% if page.extra.read %}
            <span dir="ltr" class="text-warning">
              {% for i in range(end=5) %}
                {% if i < page.extra.rate %}★{% else %}☆{% endif %}
              {% endfor %}
            </span>

            <small class="font-serif">
              {{ page.date | date(format="%Y-%m-%d") }}
            </small>

          {% elif not page.extra.pending %}
            <small class="text-success">(در حال خواندن)</small>
          {% endif %}

          <small>
            {{ page.extra.author | default(value="") }}
          </small>

        </div>
      </div>
 
    {% endif %}
  {% endfor %}
</div>

<!-- Articles -->
<h6 class="my-4">مقالات:</h6>
<div dir="ltr" class="d-flex flex-column gap-2 font-serif">
  {% for page in section.pages %}
    {% if page.extra.type == "article" %}

      <div class="d-flex justify-content-between align-items-center flex-wrap gap-1">
        <a class="text-decoration-none" href="{{ page.permalink | safe }}">
          {{ page.title }}
        </a>

        <div class="d-flex flex-row-reverse align-items-end gap-2">

          {% if page.extra.read %}
            <span class="text-warning">
              {% for i in range(end=5) %}
                {% if i < page.extra.rate %}★{% else %}☆{% endif %}
              {% endfor %}
            </span>

            <small>
              {{ page.date | date(format="%Y-%m-%d") }}
            </small>

          {% endif %}

          <small>
            {{ page.extra.author | default(value="") }}
          </small>

        </div>
      </div>

    {% endif %}
  {% endfor %}
</div>

{% endblock content %}
