<div class="p-4 ">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit sunt voluptatum, enim obcaecati atque eius iusto ea deleniti consectetur magnam reprehenderit ab, nam, laborum pariatur officiis. Inventore doloremque fugit aliquam!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit sunt voluptatum, enim obcaecati atque eius iusto ea deleniti consectetur magnam reprehenderit ab, nam, laborum pariatur officiis. Inventore doloremque fugit aliquam!
</div>