@font-face {
    font-family: "Shabnam";
    src: url("/fonts/Shabnam.woff2") format("woff2"),
        url("/fonts/Shabnam.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

pre {
  direction: ltr;
  background: #282828 !important; 
  padding: 10px;
  font-size: 13px !important;
  font-family: monospace !important;
}

img {
    max-width: 100%;
}

.font-serif {
  font-family: "sans-serif" !important;
  
}

a {
  text-decoration: none !important;
  color: #ccc !important;
}
a:hover {
  text-decoration-line: underline !important;
}
.page-content a {
  color: #ccc; 
  text-decoration-line: underline !important;
}


body {
    font-family: "Shabnam" !important;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background: #111111 !important;
    color: #aaa !important;
}

.logo h1 {
    font-size: 18px;
    margin: 0;
}

.title {
  font-size: 24px;
}
h2,h3,h4,h5,h6 {
  margin: 17px 0px !important;
}

h2 {
  font-size: 24px !important;
}

h3 {
  font-size: 20px !important;
}

h4 {
  font-size: 16px !important;
}

h5 {
  font-size: 15px !important;
}

h6 {
  font-size: 14px !important;
}

p {
  font-size: 15px !important;
}
section {
    width: 650px;
    margin: 0 auto;
    padding: 0 15px; 
}

@media (max-width: 900px) {

    section {
        width: 100%;
    }


    .flex-section {
        flex-direction: column;
        gap: 20px;
    }


}

@media (max-width: 600px) {

    header .menu {
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }

    .title {
        font-size: 20px;
    }




}
