@font-face {
    font-family: "Shabnam";
    src: url("/fonts/Shabnam.woff2") format("woff2"),
        url("/fonts/Shabnam.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

img {
    max-width: 100%;
}

body {
    font-family: "Shabnam";
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.logo h1 {
    font-size: 18px;
    margin: 0;
}
.logo a {
    text-decoration: none;
    color: black;
}

section {
    width: 650px;
    margin: 0 auto;
}

header .menu {
    display: flex;
    gap: 15px;
    width: 50%;
    justify-content: start;
    flex-direction: row-reverse;
}

.menu a {
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px rgb(219, 219, 219) solid;
}

.flex-section {
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-between;
}
.flex-section .right {
    width: 70%;
}

footer {
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    border-top: 1px rgb(219, 219, 219) solid;
    margin-top: 50px;
    color: rgb(163, 163, 163);
    font-size: 12px;
}

footer a, .date {
    color: rgb(163, 163, 163);
    text-decoration: none;
}

.title {
    font-size: 22px;
    margin: 0;
}